<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-section">
        <div class="logo">
          <img src="/images/logo.png" alt="Ponto Ágil" class="logo-img">
        </div>
        <p class="footer-description">Automatize seu controle de ponto e ganhe tempo para o que realmente
          importa.</p>
      </div>
      <div class="footer-section">
        <h4 class="footer-title">Links</h4>
        <a href="/privacidade" class="footer-link">Política de Privacidade</a>
        <a href="#" class="footer-link">Termos de Uso</a>
        <a href="#" class="footer-link">Sobre Nós</a>
      </div>
      <div class="footer-section">
        <h4 class="footer-title">Contatos</h4>
        <div class="contact-info">
          <a href="https://wa.me/5563993124723" class="contact-item" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-whatsapp"></i>
            <span>(55) 63 99312-4723</span>
          </a>
          <a href="mailto:suporte@pontoagil.com" class="contact-item">
            <i class="fa-regular fa-envelope"></i>
            <span>suporte@pontoagil.com</span>
          </a>
          <a href="https://maps.app.goo.gl/ysM6djsd1rsot93L7" class="contact-item" target="_blank" rel="noopener noreferrer">
            <i class="fa-solid fa-location-dot"></i>
            <span>Palmas – TO</span>
          </a>
        </div>
      </div>
      <div class="footer-section">
        <h4 class="footer-title">Redes Sociais</h4>
        <div class="social-links">
          <a href="https://www.instagram.com/sistemapontoagil/" class="social-link" aria-label="Instagram" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </div>
        <h4 class="footer-title">Baixe o Aplicativo!</h4>
        <div class="app-links">
          <a href="https://play.google.com/store/apps/details?id=com.player.pontoagil&hl=pt_BR" class="app-link" aria-label="Google Play" target="_blank" rel="noopener noreferrer">
            <img style="height: 40px;" src="/images/google play.png" alt="Google Play" class="app-badge">
          </a>
          <a href="https://apps.apple.com/br/app/ponto-%C3%A1gil-sistema/id6756079963" class="app-link" aria-label="App Store" target="_blank" rel="noopener noreferrer">
            <img style="height: 40px;" src="/images/apple play.png" alt="App Store" class="app-badge">
          </a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2026 Ponto Ágil. Todos os direitos reservados | CNPJ 65.858.496/0001-84</p>
    </div>
  </div>
</footer>
