<header class="header" id="header">
  <div class="container">
    <div class="header-content">
      <div class="logo">
        <a href="/">
          <img src="/images/logo.png" alt="Ponto Ágil" class="logo-img">
        </a>
      </div>
      <%- include('navbar', { pagina }) %>
      <button class="menu-toggle" id="menuToggle" aria-label="Menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
</header>
