<nav class="nav">
  <% if (pagina === 'privacidade') { %>
    <a href="/#inicio" class="nav-link">Início</a>
    <a href="/#recursos" class="nav-link">Recursos</a>
    <a href="/#contato" class="nav-link">Contato</a>
  <% } else { %>
    <a href="#inicio" class="nav-link">Início</a>
    <a href="#recursos" class="nav-link">Recursos</a>
    <a href="#planos" class="nav-link">Planos</a>
    <a href="https://www.pontoagil.com.br/login" class="nav-link" target="_blank" rel="noopener noreferrer">Já sou Cliente</a>
    <a href="https://wa.me/5563993124723?text=Ol%C3%A1!%20Tenho%20interesse%20em%20me%20tornar%20um%20partner%20do%20Ponto%20%C3%81gil."
      class="nav-link nav-link--partner" target="_blank" rel="noopener noreferrer">Torne-se um partner</a>
  <% } %>
</nav>
