<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= titulo %></title>
  <link rel="icon" type="image/png" href="/images/favicon.png">
  <link rel="stylesheet" href="/css/pages/ouvidoria.css">
</head>

<body>
  <%- include('../' + conteudoParcial) %>
  <%
    const scriptOuvidoria = [
      'window.PONTO_AGIL_CONFIG=' + JSON.stringify(configOuvidoria),
    ];
  %>
  <%- '<script>' + scriptOuvidoria.join(';') + ';</' + 'script>' %>
  <script type="module" src="/js/ouvidoria_app.js"></script>
</body>

</html>
